.bg{
    color: rgb(rgb(206, 30, 30));
}

.text-italic{
   font-style: italic;
}

.text-bold{
    font-weight: bold;
}

.font-family{
    font-family: sans-serif;
}

.text-color{
    color: rgb(92, 29, 209);
}

.list-position{
    list-style-position: inside;
}

.text-position{
    text-align: center;
}
h1{
    color:rebeccapurple
}
