body{
background-color: #fbfbfd;
}    

h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
    color:#333333;
    text-align: center;
}
h1{
    font-size: xx-large;
}

a{
    font-family: sans-serif;
    color: #424245;
    
}

p,h1,h2,h3,h4,h5,h6{
    text-align: center;
}

image{
    width: 20em;
    height: 20em;
    display: block;
    margin: 0 auto;
}

.nav{
    margin-left: 40em;
}

.nav-products{
    margin-left: 40em;
    margin-right: 0.5em;
}

li{
    list-style-position: inside;
    text-align: center;
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
}
